<html lang="en">
  <link rel="stylesheet" href="/static/styles/search.css">
  <link rel="stylesheet" href="/static/styles/home.css">
  <head class="header">
    <a href="{{ url_for('home') }}" class="back-button">
      <i class="fas fa-arrow-left"></i> Back
    </a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Top Search UI</title>
  </head>
  <body>
    <div class="search-bar">
      <form class="search-bar" action="" method="POST">
        <input type="text" name="query" class="search-input" placeholder="Search..." />
        <button class="search-button">Search</button>
      </form>
    </div>
    {% if query %}
    <h3> showing results for "{{ query }}"</h3>
    {% endif %}
    <div class="content">
      {% if items %}
      
      <div class="grid-container">
        {% for item in items %}
        <a href="{{ url_for('item_details', item_id=item[0]) }}" class="item-card">
          <img src="/static/images/store/{{ item[5] }}.webp"
               onerror="this.onerror=null; this.src='/static/images/defaults/default_item.png';"
               class="item-image">
          <div class="item-title">{{ item[1] }}</div>
          <div class="item-price">${{ item[2] }}</div>
          <div class="item-seller">@{{ item[4] }}</div><!-- add hyperlink to user profile -->
        </a>
        
        {% endfor %}
      </div>
      {% else %}
      <p>Search Listings.</p>
      {% endif %}
    </div>
    
  </body>
</html>
